/* Top Players Section Style */
.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    justify-items: center;
    margin: 20px;
}

.player img {
    width: 56px;
    height: 56px;
    margin-right: 10px;
}

.player h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}