/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Global Style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
}

/* Top Players Section Style */
.main {
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin: auto;

}

.main h2 {
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
    margin: 0px 0px 30px 0px;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;

}

.player {
    display: flex;
    justify-items: center;
}

.player img {
    width: 56px;
    height: 56px;
    margin-right: 10px;
}

.player h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

hr {
    border: 1px solid #D1D1D1;
    margin: 30px 0px;
}